// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark_blue: #1D1F43;
$dark_green: #2B523D;
$light_green: #A3C582;
$light_blue: #4CA1B4;
$white: #FFF9F3;
