<h2>...Don’t Be a Loser! 💥</h2>

<%= simple_form_for [@character, @booking] do |f| %>

  <div class="form-group">
    <%= f.input :start_date,
                as: :string,
                label: "Start Date",
                input_html: {
                  data: { controller: "datepicker" }
                } %>
    <%= f.input :end_date,
                as: :string,
                label: "End Date",
                input_html: {
                  data: { controller: "datepicker" }
                } %>
  </div>

    <%= f.submit "Book me baby, book me hard!", class: "btn btn-primary" %>
<% end %>
