<div class="homepage">
  <div class="container text-center" style="overflow: hidden;">
    <h1 class="display-4 title-home mt-5 mb-5" style="margin-top: 3rem;">Welcome to aiRicknMorty</h1>
    <h2 class=" homepage-content lead mt-5 mb-5 p-home">
      Embark on a wild journey through the infinite realities of the Rick & Morty universe!
      With airRicknMorty, you can now bring your favorite characters from the hit series into your world for an experience like no other.
    </h2>

    <div class="mt-10 mb-5">
      <a href="<%= characters_path %>" class="btn btn-spatial mt-5">
        <span class="line1">Explore</span><br>
        <span class="line2">Characters</span>
      </a>
    </div>
  </div>
</div>
