.background-index {
  background-image: url('homepage_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-darkblue {
  background-color: $dark_blue !important;
}

.bg-lightblue {
  background-color: $light_blue !important;
}

.bg-lightgreen {
  background-color: $light_green !important;
}
