.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.card-background {
  background-color: $dark_blue;
  background-image: url("planets-bckgrd.jpg");
  background-size: cover; /* Adapte l'image pour couvrir toute la carte */
  background-position: center; /* Centre l'image dans la carte */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  object-fit: contain;
  color: $white;
  padding: 30px 20px;
  font-size: 14px;
  border-radius: 12px;
}

.card-background:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
  filter: brightness(1.2);
}

.card-title {
  color: $dark_blue;
  font-weight: bolder;
  font-size: 32px;
  padding: 12px;
}


.delete-btn {
  bottom: 30px;
  right: 30px;
  z-index: 10;
  color: $light_blue;
  text-decoration: none;
}

.delete-btn:hover {
  color: $light_green;
}

.badge {
  background-color: $light_green;
  color: $dark_blue;
}

.img_bordered {
  border: 0.3125rem solid white;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

.card-background-profile {
  background-color: $dark_blue;
  background-image: url("rick_fuckyou.jpg");
  background-size: cover; /* Adapte l'image pour couvrir toute la carte */
  background-position: center; /* Centre l'image dans la carte */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  object-fit: contain;
  color: $white;
  padding: 30px 20px;
  font-size: 14px;
  border-radius: 12px;
  background-blend-mode: soft-light;
}
