@import "../config/colors";

footer {
  background-color: $dark_blue;
  color: $white;
  padding: 15px 10px;
  font-size: 12px;
  background-image: url('planet-footer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .footer-container {
    border-top: 1px solid $white;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;

    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $light_green;
      }
    }

    .social-links a {
      font-size: 16px;
      color: $white;
      &:hover {
        color: $light_blue;
      }
    }
  }

  .footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid $white;
    font-size: 10px;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    div {
      margin-right: 10px;
    }
  }

  .footer-bottom a {
    color: $white;
    text-decoration: none;
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom div {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .social-links {
    margin-top: 10px;
  }
}
