@import "../config/colors";

footer {
  background-color: $dark_blue;
  color: $white;
  padding: 15px 10px; // Réduction des padding
  font-size: 12px; // Réduction de la taille de police globale
  background-image: url('planet-footer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .footer-container {
    border-top: 1px solid $white;
    padding-top: 10px; // Réduction du padding supérieur
    display: flex; // Pour que les blocs soient sur la même ligne
    justify-content: space-between; // Espacement égal entre les colonnes
    gap: 20px; // Espace entre les blocs
    flex-wrap: nowrap; // Empêche les blocs de se déplacer sur plusieurs lignes

    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $light_green;
      }
    }

    .social-links a {
      font-size: 16px; // Taille des icônes réduite
      color: $white;
      &:hover {
        color: $light_blue;
      }
    }
  }

  .footer-bottom {
    margin-top: 20px; // Augmentation de l'espacement vertical pour la section inférieure
    padding-top: 10px; // Réduction du padding supérieur
    border-top: 1px solid $white;
    font-size: 10px; // Réduction de la taille de police dans la section inférieure
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    div {
      margin-right: 10px; // Espacement entre le texte de copyright et les liens sociaux
    }
  }

  .footer-bottom a {
    color: $white;
    text-decoration: none;
    font-size: 10px; // Réduction de la taille des liens
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; // Empile les éléments sur petits écrans
    align-items: center; // Centrer les colonnes
    text-align: center; // Centrer le texte dans chaque bloc
  }

  .footer-bottom {
    flex-direction: column; // Organiser la partie inférieure en colonne sur petits écrans
    align-items: center;
  }

  .footer-bottom div {
    margin-right: 0;
    margin-bottom: 10px; // Espacement entre les éléments dans la partie inférieure
  }

  .social-links {
    margin-top: 10px;
  }
}
