.bg-custom-primary {
  background-color: $dark_blue;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 150px;  /* Limite la taille du logo à une largeur maximale */
  height: auto;  /* Conserve les proportions de l'image */
  object-fit: contain;  /* L'image s'ajuste sans déformation */
}
