.bg-custom-primary {
  background-color: $dark_blue;
  padding: 0;
  height: 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.logo {
  max-width: 100px;
  height: auto;
  object-fit: contain;
}

