.bg-custom-primary {
  background-color: $dark_blue;
  background-image: url("planets-bckgrd.jpg");
  background-size: cover; /* Adapte l'image pour couvrir toute la carte */
  background-position: center; /* Centre l'image dans la carte */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  object-fit: cover;
  padding: 0;
  height: 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.logo {
  max-width: 100px;
  height: auto;
  object-fit: contain;
}


.btn-search {
  background: linear-gradient(145deg, #6a11cb, #2575fc);
  color: white; /* Couleur du texte du bouton */
  border: none; /* Retirer la bordure si tu veux un look plus net */
  padding: 10px 20px; /* Ajuste l'espacement interne */
  border-radius: 25px; /* Bord arrondi */
  font-weight: bold; /* Texte en gras */
  font-size: 16px; /* Taille de police ajustée */
  display: flex; /* Utiliser Flexbox pour aligner l'icône et le texte */
  align-items: center; /* Centrer verticalement l'icône et le texte */
  gap: 8px; /* Espacement entre l'icône et le texte */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour effet interactif */
}

.btn-search i {
  font-size: 18px; /* Ajuste la taille de l'icône */
}

.btn-search:hover {
  transform: scale(1.05); /* Légèrement agrandi au survol */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au survol */
}

.btn-search:active {
  transform: scale(0.98); /* Légère réduction au clic */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre moins marquée au clic */
}

.nav-item {
  display: flex;
  flex-direction: column; /* Empile les éléments verticalement */
  align-items: center;    /* Centre horizontalement */
  text-align: center;     /* Centre le texte */
}

.nav-nickname {
  margin-top: 0.5rem;
  font-weight: bold;
  color: $light_blue;
  font-family: $my-font;
}

.navbar .nav-link {
  color: #fff; /* Texte blanc par défaut */
  transition: color 0.3s ease, background-color 0.3s ease; /* Transition fluide */
  text-decoration: none; /* Pas de soulignement */
  background-color: transparent; /* Fond transparent par défaut */
  position: sticky;
  top: 0;
  font-size: 1rem;
}

.navbar .nav-link:hover {
  color: $light_green; /* Change la couleur au survol */
  text-decoration: none !important; /* Assure que rien ne soit souligné */
  background-color: transparent !important; /* Pas de fond au survol */
}

.avatar-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px;
}

.avatar-icon-profil {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5%;
  margin-bottom: 20px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dropdown-toggle::after {
  display: none !important;
}
