#planet-container {
  position: relative; // Nécessaire pour le positionnement absolu de l'image
}

#planet-text {
  cursor: pointer;
}

#planet-image-container {
  position: absolute;
  left: 72%; // Rapproche l'image du texte
  top: 0; // Aligne verticalement avec le texte
  opacity: 0; // L'image est invisible au départ
  transform: scale(0.8); // L'image est légèrement réduite au départ
  transition: opacity 0.5s ease, transform 0.5s ease; // Animation fluide
  width: 120px; // Taille plus grande
  height: 120px;
  border-radius: 12px; // Arrondir légèrement les bords
}

#planet-container:hover #planet-image-container,
#planet-container.active #planet-image-container {
  opacity: 1; // Rendre l'image visible
  transform: scale(1); // Taille normale
}
